<component name="ArtifactManager">
  <artifact type="war" build-on-make="true" name="springMvc:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="springMvc-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="springMvc:war exploded" />
    </root>
  </artifact>
</component>